<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
</head>
<body>
    <!-- Main Content -->
    <div id="content">

        

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Tables</h1>
            <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
                For more information about DataTables, please visit the <a target="_blank"
                    href="https://datatables.net">official DataTables documentation</a>.</p>

            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="row card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary"><a class="nav-link" href="/deleteAll">DeleteAll</a></h6>
                    <h6 class="m-0 font-weight-bold text-primary"><a class="nav-link" href="/registrasi">create</a></h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>email</th>
                                    <th>city</th>
                                    <th>state</th>
                                    <th>updatedelete</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>email</th>
                                    <th>city</th>
                                    <th>state</th>
                                    <th>updatedelete</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <%for(var i=0;i< data.length; i++) {%> 
                                <tr>
                                    <td><%= data[i] .email%> </td>
                                    <td><%= data[i] .city%> </td>
                                    <td><%= data[i] .state%> </td>
                                    <td>
                                        <div class="row">
                                            <a class="mr-1 ml-3" href="/edit/<%= data[i] .id%> ">update</a>
                                            <p>/</p>
                                            <a class="ml-1" href="/delete/<%= data[i].id %> ">delete</a>
                                        </div>
                                    </td>
                                </tr>
                                <%}%> 
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end DataTable Example -->
        </div>
        <!-- /.container-fluid -->

    </div>


     <!-- Bootstrap core JavaScript-->
     <script src="jquery/jquery.min.js"></script>
     <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
 
     <!-- Core plugin JavaScript-->
     <script src="jquery-easing/jquery.easing.min.js"></script>
 
     <!-- Custom scripts for all pages-->
     <script src="js/sb-admin-2.min.js"></script>
 
     <!-- Page level plugins -->
     <script src="datatables/jquery.dataTables.min.js"></script>
     <script src="datatables/dataTables.bootstrap4.min.js"></script>
 
     <!-- Page level custom scripts -->
     <script src="js/demo/datatables-demo.js"></script>


</body>
</html>